*.out
*.err
*.log
*.pth
*.pt
*.ckpt
data/
cache/
output/
results/
checkpoints/
*_cp.py
air-400/cache/
air-400/output/

pyflow/
*_ori.py

*_cp.py

*test*.py

/processors/

air-400/data/
air-400/cache/
air-400/output/

Infant-Pose-Estimation/debug*/
Infant-Pose-Estimation/*.jpg
Infant-Pose-Estimation/*.png
